<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>Asignar rol a jugador</h1>
    <p>Elige jugador para asignar rol:</p>

    <form method="post" action="/asignarRol">
        <select name="jugadorId">
            <option th:each="p : ${nombresDesplegable}"
                    th:value="${p.id}"
                    th:text="${p.name}">
            </option>
        </select>
        <input type="submit" value="Asignar rol">
    </form>

    <div th:if="${not #strings.isEmpty(rol)}">
    
        <h3>Jugador seleccionado: <span th:text="${nombre}"></span></h3>
        <h4>Rol asignado: <span th:text="${rol}"></span></h4>

        <p th:switch="${rol}">
            <span th:case="'lobo'">¡Cuidado! Este personaje es un lobo</span>
            <span th:case="'vidente'">Puede revelar el rol de otra persona</span>
            <span th:case="'campesino'">Este personaje no hace nada especial</span>
            <span th:case="'cazador'">Este personaje puede vengarse si muere</span>
        </p>
    </div>
</body>
</html>