* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  width: 100%;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  padding: 15px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0 15px;
}

.hamburger {
  display: none;
  flex-direction: column;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin-bottom: 4px;
}

#menu-checkbox {
  display: none;
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
  }

  #menu-checkbox:checked ~ .menu {
    display: flex;
  }

  .menu li {
    padding: 15px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .menu a {
    padding: 0;
  }
}
