body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 10px;
  width: auto;
  height: 100vh;
}

p {
  text-align: center;
}

.div1 {
  grid-area: 1 / 1 / 4 / 4;
  background-color: grey;
  align-content: center;
}
.div2 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: grey;
  align-content: center;
}
.div3 {
  grid-area: 2 / 4 / 3 / 5;
  background-color: grey;
  align-content: center;
}
.div4 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: grey;
  align-content: center;
}
.div5 {
  grid-area: 4 / 1 / 5 / 3;
  background-color: grey;
  align-content: center;
}
.div6 {
  grid-area: 4 / 3 / 5 / 5;
  background-color: grey;
  align-content: center;
}
.div7 {
  grid-area: 5 / 4 / 6 / 5;
  background-color: grey;
  align-content: center;
}
.div8 {
  grid-area: 6 / 4 / 7 / 5;
  background-color: grey;
  align-content: center;
}
.div9 {
  grid-area: 7 / 4 / 8 / 5;
  background-color: grey;
  align-content: center;
}
.div10 {
  grid-area: 5 / 1 / 8 / 4;
  background-color: grey;
  align-content: center;
}
.div11 {
  grid-area: 8 / 1 / 9 / 3;
  background-color: grey;
  align-content: center;
}
.div12 {
  grid-area: 8 / 3 / 9 / 5;
  background-color: grey;
  align-content: center;
}

@media (max-width: 600px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div3 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div4 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div5 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div6 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div10 {
    grid-area: 8 / 1 / 10 / 2;
  }
  .div7 {
    grid-area: 10 / 1 / 11 / 2;
  }
  .div8 {
    grid-area: 11 / 1 / 12 / 2;
  }
  .div9 {
    grid-area: 12 / 1 / 13 / 2;
  }
  .div11 {
    grid-area: 13 / 1 / 14 / 2;
  }
  .div12 {
    grid-area: 14 / 1 / 15 / 2;
  }
}