img{
    width: 100%;
}

.borde-verde{
    border: 2px solid green;
}
.borde-azul{
    border: 2px solid blue;
}
li{
    list-style: none;
    margin-top: 5px;
}

nuevoBorde{
    border-style: dotted;
}