body{
    background-color: rgb(231, 231, 231);
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}
#container{
    width: 80%;
    margin: auto;
    background-color: white;
}
#header{
    color: white;
    padding: 15px;
    height: 3em;
    clear: both;
}
#brand{
    color:rgb(149, 149, 255);
    float: left;
    font-size: 12px;
    margin-top: -1em;
}
#searchBox{
    float: right;
    margin-top: 0.5em;
    width: 45.8em;
    border-radius: 5px;
    background-color: rgb(200, 218, 166);
}
form{
    padding: 5px;
}
input[type=text]{
    width: 43em;
    height: 1.8em;
    border-radius: 3px;
    border: none;
}
input[type=submit]{
    height: 2.2em;
    text-align: center;
    width: 10em;
    background-color: rgb(115, 115, 240);
    color: white;
    border-radius: 3px;
    border: none;
}
a{
    text-decoration: none;
}
#menu{
    background-color: yellow;
    float: left;
    clear: both;
    width: 100%;
    border-top: 2px solid rgb(207, 207, 207);;
}
#menu li{
    float: left;
    list-style: none;
    margin-left: -1.5em;
    margin-right: 4.2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 15px;
    
}
#introduction{
    float: none;
    clear: both;
    width: 100%;
    height: 20em;
    margin: 5%;
    background-color: coral;

}