body{
    background-color: rgb(231, 231, 231);
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}
#container{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: white;
}
#header{
    color: white;
    padding: 15px;
    height: 4.3em;
    clear: both;
}
#brand{
    color:rgb(149, 149, 255);
    float: left;
    font-size: 12px;
}
#searchBox{
    float: right;
    margin-top: 2em;
    width: 36em;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(255, 131, 131), rgb(255, 46, 46));
    
}
form{
    padding: 5px;
}
input[type=text]{
    width: 31em;
    height: 1.8em;
    border-radius: 3px;
    border: none;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 4%;
}
input[type=submit]{
    height: 2.2em;
    text-align: center;
    width: 10em;
    background-color: rgb(115, 115, 240);
    color: white;
    border-radius: 3px;
    border: none;
}
a{
    text-decoration: none;
}
#menu{
    background-color: yellow;
    float: left;
    clear: both;
    width: 100%;
    border-top: 2px solid rgb(207, 207, 207);;
}
#menu li{
    float: left;
    list-style: none;
    margin-left: -1.5em;
    margin-right: 4.2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-size: 15px;
    
}
#introduction{
    float: left;
    width: 97%;
    height: 12.5em;
    margin-top: 1.5%;
    margin-left: 1.5%;
    background-color: rgb(253, 211, 196);
    border-radius: 5px;
}
#introduction h3{
    padding: 1.3em;
    color: rgb(172, 65, 36);
    font-size: 25px;
    float: left;
    height: auto;
    margin-top: 0.5em;
}
#introduction p {
    padding: 1.6em;
    color: rgb(197, 90, 52);
    font-size: 20px;
    float : left;
    margin-top: -3.5em;
}

#leftsidebar{
    float: left;
    width: 22%;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 5px;
    height: auto;
    margin-bottom: 3%;
}
#leftsidebar h3{
    color: rgb(0, 91, 228);
    margin-left: 0.5em;
    font-size: 20px;
    margin-bottom: 0.5em;
    
}
#leftsidebar ul{
    width: auto;
    height: 100%;
    padding-left: 0.5em;
}
#leftsidebar li{
    margin-top: 0.5em;
    list-style: none;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 7%;
    height: 1.4em;
    padding-left: 1.5em;
    padding-top: 0.1em;
    width: 15em;
}
#rightsidebar{
    float: left;
    width: 20%;
    margin-top: 3%;
    margin-left: 30%;
    border-radius: 5px;
    height: auto;

}
#rightsidebar h3{
    color: rgb(0, 91, 228);
    margin-left: 2em;
    font-size: 20px;
    margin-bottom: 0.5em;
}
#rightsidebar li{
    margin-top: 0.5em;
    list-style: none;
    background-image: url(../images/tick.png);
    background-repeat: no-repeat;
    background-size: 8%;
    height: 1.4em;
    padding-left: 1.8em;
    padding-top: 0.2em;
    width: 18em;
}
#menu ul li a:hover, #menu ul li a.active{ 
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bold;
}
.sidebar ul li a:hover, a:active{
    color: rgb(0, 52, 131);
    font-weight: bold;
    font-size: 16px;
}
footer{
    clear: both;
    width: 100%;
    height: 3em;
    background-color: rgb(200, 200, 200);
    text-align: center;
    padding-top: 1em;
    margin-top: 1.5%;
    background: linear-gradient(to right, rgb(204, 255, 194), rgb(87, 255, 53));
}
