body{
    background-color: rgb(231, 231, 231);
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}
#container{
    width: 80%;
    margin: auto;
    background-color: white;
}
#header{
    color: white;
    padding: 15px;
    height: 3em;
    clear: both;
    background-color: blanchedalmond;
}
#brand{
    color:rgb(149, 149, 255);
    float: left;
    font-size: 12px;
    background-color: whitesmoke;
}
#searchBox{
    float: right;
    margin-top: 0.5em;
    width: 30.8em;
    border-radius: 5px;
    background-color: rgb(200, 218, 166);
}
form{
    padding: 5px;
}
input[type=text]{
    width: 25em;
    height: 1.8em;
    border-radius: 3px;
    border: none;
}
input[type=submit]{
    height: 2.2em;
    text-align: center;
    width: 10em;
    background-color: rgb(115, 115, 240);
    color: white;
    border-radius: 3px;
    border: none;
}
a{
    text-decoration: none;
}
