* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr;
}

header {
  width: 100%;
  background-color: rgb(115, 115, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

h1 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}
.menu-hover {
  grid-area: 1 / 2 / 2 / 3;
  width: 7%;
  align-self: center;
  justify-self: end;
  margin-right: 2em;
}

.menu-hover:hover .menu{
    display: grid;
    background-color: aqua;
}

.menu-hover h3 {
  font-size: 2rem;
}

.menu{
  display: none;
  position: absolute;
  right: 20px;
  text-align: right;
  font-size: 1.5rem;
}

.menu li {
  list-style: none;
  margin-top: 1em;
}

main{
  background-color: green;
  display: grid;
  grid-template-columns: 80% 1fr;
}

.table-container{
  border: 1px solid black;
  overflow: auto;
}

td, tr, th{
  border: 1px solid black;
}

table{
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.concierto-td{
  padding-left: 1em;
}

.otherData-td{
  text-align: center;
}

/*############### Formulario ################*/
aside{
  display: grid;
  background-color: aqua;
}

form{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 10%);
}

#opcion{
  grid-area: 1 / 2 / 2 / 3;;
  height: 30%;
  margin-top: 1em;
}
.form-desechable{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: 2 / 1 / 4 / 4;
  background-color: antiquewhite;
}

#nombre-titulo{
  grid-area: 1 / 1 / 2 / 7;
}
#nombre-titulo input{
  width: 80%;
}
#generoM{
  grid-area: 2 / 1 / 2 / 3;
}
#pais{
  grid-area: 2 / 3 / 3 / 5;
}
#fecha{
  grid-area: 2 / 5 / 3 / 7;
}

.error-seccion{
  grid-area: 4 / 2 / 5 / 3;
  background-color: aquamarine;
}
#submit{
  margin-left: 2em;
  grid-area: 5 / 1 / 6 / 2;
}
#reset{
  margin-right: 2em;
  grid-area: 5 / 3 / 6 / 4;
}
#submit, #reset{
  height: 25%;
}