* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 5em;
  background-color: rgb(115, 115, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

h1 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}
.menu-hover {
  grid-area: 1 / 2 / 2 / 3;
  width: 7%;
  align-self: center;
  justify-self: end;
  margin-right: 2em;
}

.menu-hover:hover .menu{
    display: grid;
    background-color: aqua;
}

.menu-hover h3 {
  font-size: 2rem;
}

.menu{
  display: none;
  position: absolute;
  right: 20px;
  text-align: right;
  font-size: 1.5rem;
}

.menu li {
  list-style: none;
  margin-top: 1em;
}
