
.menu{
    height: 4em;
    
}

.menu-content{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(66, 66, 173);
    align-content: center;
}

.menu-content p{
    text-align: center;
}
.menu-content:hover{
    background-color: rgb(99, 99, 168);
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu-content {
    width: 10em;
  }
}
@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .menu-content {
    width: 80%;
  }
}


.menu2{
    height: 8em;
}

.decoracion{
  font-weight: bold;
}

.menu-content2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(66, 66, 173);
    padding-bottom: 1em;
    padding-top: 1em;
}

.menu-content2 p, i{
    text-align: left;
    margin-left: 1em;
}
.menu-content2:hover{
    background-color: rgb(99, 99, 168);
}

@media (min-width: 768px) {
  .menu2 {
    display: flex;
    flex-direction: row;
  }
  .menu-content2 {
    width: 100%;
  }
  .menu-content2 p, i{
    text-align: left;
    margin-left: 1em;
}
}

@media (max-width: 768px) {
  .menu2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .menu-content2 {
    width: 40%;
  }
  .menu-content2 p, i{
    text-align: center;
}
}

i{
  font-size: 25px;
}
