
#menu{
    height: 4em;
}
.menu-content{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(66, 66, 173);
    align-content: center;
}
.menu-content p{
    text-align: center;
}
.menu-content:hover{
    background-color: rgb(99, 99, 168);
}

@media (min-width: 768px) {
  #menu {
    display: flex;
    flex-direction: row;
  }
  .menu-content {
    width: 10em;
  }
}
@media (max-width: 768px) {
  #menu {
    display: flex;
    flex-direction: column;
  }
  .menu-content {
    width: 100%;
  }
}