body{
    margin: 0;    /*Elimina el margen del body*/
    font-family: Arial, Helvetica, sans-serif;  /*Define la familia de fuentes para todo el texto*/
    display: flex;	/* Activa Flexbox para el diseño */
    flex-direction: column;     /*Organiza los elementos hijos en forma de columna*/
    background-color: rgb(231, 231, 231);	/* Color de fondo gris claro */
    min-height: 100vh;		/* Establece la altura mínima igual al 100% del viewport */
}

header{
    width: 100%;    /*Permite al header ocupar todo el ancho de la pantalla*/
    background-color: darkorchid;	/* Color de fondo morado para el header */
    text-align: center;		/* Centra el texto horizontalmente */
}

main{
    display: flex;	/* Activa Flexbox para el contenido principal */
    flex-direction: column;	/* Organiza los elementos internos en columna */
    flex: 1;	/* Hace que main ocupe todo el espacio disponible, empujando el footer hacia abajo */
}


div{
    margin-top: 1%;	/* Margen superior del 1% del contenedor padre */
    width: 36%;		/* Ancho del div al 36% del contenedor padre */
    display: flex;	/* Activa Flexbox para los elementos internos del div */
    flex-direction: column;	/* Organiza el contenido del div en columna */
    background-color: white;	/* Fondo blanco para el div */
    align-self: center;		/* Centra el div horizontalmente dentro de main */
    padding: 1em;		/* Espacio interno de 1em alrededor del contenido */
    border-radius: 10px;	/* Esquinas redondeadas */
}

footer{
    background-color: black;	/* Fondo negro para el footer */
    color: grey;		/* Texto en color gris */
    text-align: center;		/* Centra el texto horizontalmente */
}