body{
    margin: 0;    /*Elimina el margen del body*/
    font-family: Arial, Helvetica, sans-serif;  /*Cambia el estilo de los textos*/
    display: flex;
    flex-direction: column;     /*Posiciona los elementos en forma de columna*/
    background-color: rgb(231, 231, 231);
    min-height: 100vh;
}

header{
    width: 100%;    /*Permite al header ocupar todo el ancho de la pantalla*/
    background-color: darkorchid;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

div{
    margin-top: 1%;
    width: 36%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-self: center;
    padding: 1em;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: grey;
    text-align: center;
}