body {
  margin: 0;
  width: 100hv;
}

#contentbox {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1 {
  text-align: center;
}
#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 95%;
}
.card-style {
  background-color: white;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
  flex-basis: calc(32% - 20px);
  border: 1px solid rgb(218, 218, 218);
}
.card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
}
.p-fix{
    margin-top: -15px;
}
.card-style img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card-style {
    flex-basis: calc(51% - 20px);
  }
  button {
    color: white;
    background-color: rgb(122, 122, 255);
    border-style: hidden;
    width: 10em;
    padding: 10px;
    margin-bottom: 2em;
    font-weight: bold;
  }
}
@media (min-width: 769px) {
  button {
    color: white;
    background-color: rgb(122, 122, 255);
    border-style: hidden;
    width: 10em;
    padding: 10px;
    margin-bottom: 2em;
    font-weight: bold;
  }
}
span {
  color: rgb(201, 107, 107);
  font-weight: normal;
}
