body{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vh;
    gap: 1em;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 246, 255);
    border: 2px solid black;
    border-radius: 10px;
    gap: 3em;
    padding: 1em;
}

.container h1, p{
    width: 20%;
}

.button-style{
    width: 8em;
    height: 6em;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border-style: none;
}
