table, td, th {
    border: 1px blue solid;
    border-collapse: collapse;
}

table {
    width: 50%;
    margin: 15px auto;
}

p {
    border: 3px solid blue;
    width: 50%;
    height: 50px;
    margin: auto;
}