* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "main main"
        "main main"
        "footer footer";
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

.header {
    grid-area: header;
    display: grid;
        grid-template-areas: 
        "media-image menu buscar";
    background-color: #444;
    align-items: center;
    padding: 10px;
}

.media-image img {
    grid-area: media-image;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-self: baseline;
}

.menu li{
    
}

.buscar{
    display: grid;
    grid-area: buscar;
    grid-template-columns: 75% 25%;
    justify-self: end;
    gap: 5%;
}

.buscar input{
    height: 30px;
}
.buscar button{
    border-radius: 5px;
    border-style: none;
    min-width: 80px;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}


.main {
    grid-area: main;
    padding: 20px;
    background-color: #f9f9f9;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}

.enlaces {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.enlaces a {
    color: white;
    text-decoration: none;
}

.derechos {
    text-align: right;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 
            "header"
            "main"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }
    
    .menu {
        grid-area: menu;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
    }
    
    .derechos {
        text-align: center;
    }
    
    .enlaces {
        justify-content: center;
    }
}