body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: rgb(223, 223, 223);
}
#main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(204, 204, 204);
}
header h3{
    float: left;
    margin-left: 2em;
}
header search{
    float: right;
    margin-right: 2em;
}
#menu{
    background-color: black;
}
#menu h4{
    float: left;
    margin-left: 2em;
    color: white;
}
img{
    width: 440px;
    height: 230px;
    float: left;
    margin: 1em;
}
#img-container{
    background-color: white;
    padding: 2em;
}
footer{
    height: 14em;
    width: 100%;
    background-color: black;
    color: white;
}
.footer-content{
    float: left;
    padding-left: 2em;
    padding-top: 1em;
    width: 31.18%;
    height: 100%;
}

