body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, sans-serif;
  align-items: center;
  background-color: rgb(223, 223, 223);
}
#main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(204, 204, 204);
}
header h3{
    float: left;
    margin-left: 2em;
}
header search{
    float: right;
    margin-right: 2em;
    margin-top: 0.8em;
}
header input{
    border-radius: 4px;
    height: 2.5em;
    padding-left: 0.8em;
    border: 1px solid rgb(194, 194, 194);
}
input[type="submit"]{
    width: 6em;
    padding-right: 0.8em;
    margin-left: 1em;
    background-color: rgb(0, 173, 0);
    color: white;
}
input[type="submit"]:hover{
    background-color: rgba(0, 136, 0, 0.651);
    cursor: pointer;
}
#menu{
    background-color: black;
}
#menu a{
    text-decoration: none;
    color: white;
    padding: 1em;
}
#menu  li {
    float:left;
    list-style: none;
    margin-left: -2.5em;
    margin-right: 3em;
    height: 2.2em;
}
#menu a:hover {
    background-color: #555;
}

img{
    width: 440px;
    height: 230px;
    float: left;
    margin: 1em;
}
img:hover{
    filter: brightness(115%);
    cursor: pointer;
}
#img-container{
    background-color: white;
    padding: 2em;
}
footer{
    height: 14em;
    width: 100%;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.footer-content{
    float: left;
    width: 33%;
    height: 100%;
}
.footer-content ul{
    margin-top: 2em;
}
.footer-content li{
    list-style: none;
    margin-top: 0.5em;
    color: gray;
}
.footer-content i{
    font-size: 1.3em;
}
.fa-twitter{
    margin-left: 1em;
}