
body {
    background-color: #111111;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.container {
    height: 100vh;
}

.div {
    display: flex;
    height: 100%;
}

.div-image {
    height: 100%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;

}

.image-placeholder {
    height: 100%;
    display: flex;
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

.div-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    margin-right: 3em;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.content-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    max-width: 600px;
}

.content-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
}

.content-text h2 {
    font-size: 1.2rem;
    color: #272727;
    margin-bottom: 30px;
}

.content-text p {
    line-height: 1.6;
    margin-bottom: 30px;
    color: #919191;
}

.btn {
    display: inline-block;
    background-color: #ffffff;
    color: black;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
}

@media (max-width: 768px) {
    .div {
        flex-direction: column;
        height: auto;
    }
    
    .div-image {
        flex: 0 0 300px;
        width: 100%;
    }
    
    .image-placeholder {
        height: 300px;
    }
    
    .social-icons {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }
    
    .content-text {
        padding: 40px 20px;
        text-align: left;
    }
    
    .content-text h1 {
        font-size: 2.5rem;
    }
    

}