* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header header header header"
        "principal principal principal sidebar"
        "noticias noticias noticias sidebar"
        "footer footer footer footer";
    grid-template-rows: 70px 1fr auto 70px;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.articulo-principal {
    grid-area: principal;
    display: grid;
    background-color: #ecf0f1;
    padding: 20px;
}

.noticias {
    background-color: #ecf0f1;
    grid-area: noticias;
    display: grid;
    padding: 20px;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 15px;
}


.sidebar {
    grid-area: sidebar;
    background-color: #34495e;
    color: white;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas: 
            "header"
            "principal"
            "noticias"
            "sidebar"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 70px 4fr 1fr 70px;
        gap: 10px;
    }
    
    .noticias-grid {
        grid-template-columns: 1fr;
    }
}