h1{
    color: rgb(0, 0, 255):
}
.texto{
    border: 1px solid black;
    height: 50px;
    width: 80%;
    justify-self: center;
}
table, td, th, tr{
    border: 1px solid black;
}
th{
    background-color: rgb(80, 80, 241);
}
.tabla2{
    width: 200px;
}