*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
}

header{
    text-align: center;
    margin: 1em;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  height: 95%;
  justify-content: center;
}

.form-section{
    border: 1px solid black;
    padding: 1em;
    background-color: rgb(107, 107, 107);
    display: grid;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
    justify-self: end;
}

li{
  list-style: none;
}

.form-section:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
}
.form-section:nth-child(2) {
  grid-area: 1 / 3 / 3 / 5;
}
.form-section:nth-child(3) {
  grid-area: 3 / 1 / 5 / 3;
}
.form-section:nth-child(4) {
  grid-area: 3 / 3 / 5 / 5;
}
#botones {
  grid-area: 5 / 2 / 6 / 4;
  text-align: center;
}

@media (max-width: 481px) {
  form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
  }

  .form-section:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .form-section:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .form-section:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .form-section:nth-child(4) {
    grid-area: 4 / 1 / 5 / 2;
  }
  #botones {
    grid-area: 5 / 1 / 6 / 2;
  }
}
