body{
    margin: 0;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 50%;
    height: auto;
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.comment{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.comment p{
    margin-left: 1em;
    line-height: 2em;
}

.user2-box{
    margin-left: 10em;
    border-radius: 7px;
    background-color: rgb(197, 197, 197);
    align-items: center;
    
}
.user2-box img{
    width: 7em;
    height: 7em;
}

.user1-box{
    border-radius: 10px;
    align-items: center;
    
}
.user1-box img{
    width: 7em;
    height: 7em;
}

img{
    width: 100%;
    height: auto;
    border: 1px solid grey;
    justify-content: flex-start
}