body{
    margin: 0;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 60%;
    height: auto;
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.comment{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    align-self: flex-end;
}
.comment p{
    margin-top: 2.5em;
    margin-left: 1em;
}

.user2-commetn{
    
}

.imgs{
    width: 10em;
    height: 100%;
    background-color: rgb(156, 105, 41);
    align-self: flex-start;
}

img{
    width: 130px;
    height: auto;
}